html,
body {
  background-color: white;
  background-image: url(random.jpeg), url(random2.jpeg);
  background-size: 50% 100%;
  background-position: left, right;
  background-repeat: no-repeat, no-repeat;
  /* color: black; */
  height: 100%;
  width: 100%;
  opacity: 70%;
}

/* body:hover {
  background-color: white;
  background-image: url(random.jpeg);
  background-size: 50% 100%;
  background-repeat: no-repeat;
  /* color: black; */
/* height: 150%;
  width: 100%;
  opacity: 200%; */
/* } */

.content {
  margin: left;
  margin-top: 20px;
  width: 40%;
  height: auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
}

.about-us {
  display: inline;
}

.title {
  padding-top: 100px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 4em;
  letter-spacing: 0.15rem;
  color: #fff;
}

label {
  color: #333;
}

.result-container {
  text-align: center;
  font-weight: 600;
  font-size: 4em;
  letter-spacing: 0.15rem;
  padding: 20px 0 0;
}

#result {
  color: #000;
}
