html {
  height: 100%;
  background-color: white;
}

body {
  background-color: white;
  background-image: url(pic7.jpg);
  background-size: 100% 105%;
  background-repeat: repeat-y;

  /* background-position: left, right;
  /* background-repeat: no-repeat; */
  /* color: black; */
  height: 100%;
  width: 100%;
}

.transp {
  background-color: transparent !important;
}

.finalbutton {
  background-color: rgb(100, 12, 182) !important;
}

#parent input {
  border: 0;
}
/* body:hover {
  background-color: white;
  background-image: url(random.jpeg);
  background-size: 50% 100%;
  background-repeat: no-repeat;
  /* color: black; */
/* height: 150%;
  width: 100%;
  opacity: 200%; */
/* } */

.content {
  /* background-color: white; */
  margin: left;
  margin-left: 10%;
  margin-top: 12%;
  width: 28%;
  height: auto;
  /* background-color: #fff; */
  padding: 20px;
  border-radius: 8px;
  opacity: 1;
}
content:hover {
  content: "";
  background-color: white;
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.about {
  margin-left: 20%;
  margin-top: 1%;
  color: black;
}

.title {
  /* background-image: url("./random.jpeg"); */
  /* background-size: 51.5% 100%; */
  /* background-repeat: repeat-y; */
  padding-top: 100px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 4em;
  letter-spacing: 0.15rem;
  color: black;
  opacity: 50%;
}
.title:hover {
  padding-top: 100px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 4em;
  letter-spacing: 0.15rem;
  color: black;
  opacity: 100%;
}

label {
  color: #333;
}

.result-container {
  text-align: center;
  font-weight: 600;
  font-size: 4em;
  letter-spacing: 0.15rem;
  padding: 20px 0 0;
}

#result {
  color: #000;
}
