html {
  height: 100%;
  background-color: white;
}

body {
  height: 100%;
  background-image: url("http://i.imgur.com/9HMnxKs.png");
  background-repeat: repeat-y;
  background-size: contain;
  opacity: 0.5;
}

/*body {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}*/

.content {
  background-color: white;
  margin: left;
  margin-top: 20px;
  width: 40%;
  height: auto;
  /* background-color: #fff; */
  padding: 20px;
  border-radius: 8px;
  opacity: 1;
}
content:hover {
  content: "";
  background-color: white;
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.title {
  background-image: url("./random.jpeg");
  background-size: 51.5% 100%;
  background-repeat: repeat-y;
  padding-top: 100px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 4em;
  letter-spacing: 0.15rem;
  color: black;
  opacity: 50%;
}
.title:hover {
  padding-top: 100px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 4em;
  letter-spacing: 0.15rem;
  color: black;
  opacity: 100%;
}

label {
  color: #333;
}

.result-container {
  text-align: center;
  font-weight: 600;
  font-size: 4em;
  letter-spacing: 0.15rem;
  padding: 20px 0 0;
}

#result {
  color: #000;
}
